@charset 'utf-8';
/* ZValidator */
.ZValidator { }
.ZValidatorMsg { position: absolute; right: 1.4em; top: 0; }
.ZValidatorMsg_dcr { }
.ZValidatorMsg_ico { }
.ZValidatorMsg_txt { color: #e6633c; }
.zNameDom { }